@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("..//fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("..//fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: url("..//fonts/ptsans-400.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: url("..//fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
  }
html {
height: 100%;
}
  
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color:#E5E5E5;
}
.container {
 margin: 0 auto;
 width: 1200px;
 background-color: #FFFFFF;
 box-shadow: 0 0 5px;
}
.button {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 36px;
color: #FFFFFF;
background-color: #756257;
text-align: center;
text-decoration: none;
text-transform: uppercase
}
 .navigation {
  display: flex;
  max-width: 1060px;
  margin: 0 auto;
     
 }
 .navigation-logo {
  width: 139px;
  margin-right: 47px;
 }
 .navigation-list {
  margin: 0;
  padding: 0;
  width: 470px;
 }
 .navigation-user {
  max-width: 300px;
  margin-left: auto;
 }
 .navigation-link {
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
 }
 .navigation-link-user {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
 }
 .navigation-button {
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
 }

 .navigation-list , .navigation-user , .advantages-list , .advantages-list-icons , .footer-social-list {
  list-style-type: none;
 }
.main-background {
    background-image: url(..//images/jpeg/index-background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 485px;
}

.main-sedona-description {
display: block;
margin: 0 auto;
}
.main-container {
  flex-grow: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
  }
.header-text-block{ 
  display: block;
  width: 1200px;
  height: 282px;
  margin: 0;
}
h1 , h2 , h3{
  margin: 0;
  padding: 0;
}
.main-header-text{
text-align: center;
margin: 0;
margin-top: 63px;
margin-bottom: 31px;
font-size: 30px;
line-height: 36px;
text-transform: uppercase;
color: #000000;
}
.advantages-block {
  margin: 0;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  color: #333333;
}
.advantages-list {
  margin: 0;
  padding: 0;
  
}
.advantages-imagine-block {
  display: flex;
}
 .advantages-title-white {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 28px;
  color:#FFFFFF;
  text-align: center;
}
.advantages-numbers-white {
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.advantages-description-white {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}
.town {
  vertical-align: middle;
}
.advantages-list-icons {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.advantages-icons {
width: 400px;
height: 384px;
}
.advantages-title-icons {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.advantages-icons-description {
  color:#333333;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.hotel , .burger , .gift {
display:block;
margin:auto;
}
.container-text {
 background-color: #83B3D3;
}
.advantages-icons {
 background-color:  rgba(131, 179, 211, 0.12);
}
.advantages-icons:nth-child(2){
  background-color:#FFFFFF;
}
.bridge {
  vertical-align: middle;
}
.advantages-list .advantages-item-block{
  display: inline-block;
  width: 400px;
  height: 384px;
}
.advantages-item-block {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-block:nth-child(odd){
  background-color:rgba(131, 179, 211, 0.2);

}
.advantages-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.advantages-numbers{
font-weight: normal;
font-size: 18px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #333333;
}
.advantages-description {
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  text-align: center; 
  color: #333333;
}
.booking {
  display: block;
  margin: 0 auto;
  width: 1200px;
  height: 417px;
  background-color: #FFFFFF;
}
.booking-head {
margin-top: 91px;
margin-bottom: 29px;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.booking-description {
margin-bottom: 56px;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
}
.button-modal {  
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 93px;
  border-radius: 10px;
  width: 575px;
  height: 60px;
}
.page-footer {
  background-color: #FFFFFF;
  margin: 0;
  padding: 0;
  height: 411px;
}
.newsletter {
  display: block;
  margin: 0  auto;
  background-image: url(/images/jpeg/background-email.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 411px;
}
.newsletter-form , .newsletter-button{
  text-align: center;
}
.newsletter-button {
background: #83B3D3;
border-radius: 0px 10px 10px 0px;
border: none;
}
.newsletter-button {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.page-footer {
  width: 1200px;
}
.page-footer-title {
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.page-fotter-title-description {
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #FFFFFF;
}
.footer-social-block {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
}
.footer-social {
  width: 110px;
  margin-right: 61px;
}
.button-social{
  font-size: 16px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
}
.contacts-phone {
  width:720px;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration-line: none;
}
.logo-htmlacademy-link {
  margin-left: auto;
  max-width: 115px;
}
/* для каталога */

.options {
  background-image: url(/images/jpeg/catalog-background.jpg);
  height: 408px;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #FFFFFF;

}
.inner-header-title {
  font-weight: bold;
  font-size: 60px;
  line-height: 78px;
  text-align: left;
}
.breadcrumbs {
margin-top: 0;
margin-bottom: 0;
}
.breadcrumbs-link {
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 21px;
text-decoration-line: none;
color: #FFFFFF
}
.catalog-filter {
  display: flex; 
  width: 1200px;
}
.catalog-filter-group {
  width: 170px;
  margin: 0;
  padding: 0;
}
.ifrastructure-block {
margin-left: 71px;
margin-right: 67px;
}
.type-of-housing-block {
  margin-right: 167px;
}
.price {
  display: flex;
  flex-direction: column;
}
.catalog-filter-title , .price {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  color:#FFFFFF; 
  
}
.catalog-filter-item , .minprice , .maxprice , .number {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color:#FFFFFF;
}
.button-container {
  display: flex;
  flex-direction: column;
  margin-left: 81px;
  margin-right: 72px;
}
.button-submit {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
align-items: center;
text-align: center;
text-transform: uppercase;
background-color: #83B3D3;
border-radius: 4px;
color: #FFFFFF;
border: none;
}
.button-reset {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
border: none;
background-color: none;
}
.hotels-search {
  display: flex;

}
.hotels-find {
margin: 0;
margin-top: 50px;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 39px;
text-transform: uppercase;
color: #000000;
}
.select-control {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.button-cards , .button-slide , .button-list {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-decoration-line: none;
  color: #333333;
}
.hotel-card-title {
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
color: #000000;
}
.hotel-card-description , .hotel-card-price {
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.hotel-button-description , .hotel-button-favorites , .hotel-button-infavorites {
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}
.hotel-button-description {
background-color: #756257;
border-radius: 4px;
}
.hotel-button-favorites {
background-color: #83B3D3;
border-radius: 4px;
}
.hotel-button-infavorites {
background-color: #7DB54F;
border-radius: 4px;
}
.rating-number {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  
}
.rectangle {
width: 160px;
height: 37px;
background: #F2F2F2;
border-radius: 4px;

}
.button-pagination-show-more {
background: #83B3D3;
border-radius: 4px;
border: none;
width: 620px;
height: 60px;
}
.button-pagination-show-more {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: block;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}
.pagination-item:nth-child(1) {
background: #F2F2F2;
border-radius: 4px;
}
.pagination-item {
background: #83B3D3;
border-radius: 4px;
width: 55px;
height: 55px;
}
.pagination-current {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: block;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #000000;
text-decoration: none;
}
.pagination-link {
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 26px;
display: block;
align-items: center;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
text-decoration: none;
}
.hotels-on-the-page , .hotels-numbers{
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.page-footer-title-catalog {
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
color: #000000;
}
.page-fotter-title-description-catalog {
font-style: normal;
font-weight: normal;
font-size: 22px;
line-height: 26px;
text-align: center;
color: #333333;
} 

.newsletter-catalog {
  display: block;
  margin: 0  auto;
  background-color: #FFFFFF;
  height: 411px;
}